# Power BI files
*.pbix
*.pbit

# Temporary files
*.tmp
*.log
*.bak

# VS Code settings
.vscode/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db
